<div class="welcome">
    <h2>Welcome, {{username}}!</h2>
  </div>

<div class="card-profile">
  <div class="header-profile">
    <h3>Create a New Blog Entry:</h3>
  </div>
    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-title">Blog Title:</label>
        <br />
        <input class="form-input" type="text" id="project-title" name="project-title" />
      </div>
      {{!-- <div class="form-group">
        <label for="project-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div> --}}
      <div class="form-group">
        <label for="project-desc">Entry:</label>
        <br />
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-create">Create</button>
      </div>
    </form>
</div>

  {{#if projects.length}}
    <div class="card-profile">
      <div class="header-profile">
        <h3>Current Blogs:</h3>
      </div>
      {{#each projects as |project|}}
      <div class="profile-entry">
        <h4><a href="/project/{{project.id}}">{{project.title}}</a></h4>
          <div class="col-md-4">
            <button class="btn btn-sm btn-delete" data-id="{{project.id}}">Delete</button>
          </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/profile.js"></script>
